In [ ]:
PROGRAMME - PRE-PROCESSING

In [ ]:
Compétition Afrique - Amérique du Sud - Asie - Euro

In [51]:
import pandas as pd 
import csv
import numpy as np

Afrique

In [53]:
# afrique 
afrique = pd.read_csv('bilan_nations_afrique_hommes.csv')
afrique.head(20)

,Nation,74,76,79,81,83,85,87,89,91,...,08,10,12,14,16,18,20,22,24,P.
0,Afrique du Sud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Algerie,NaN,2,3.0,1.0,1.0,1,1,1,2,...,3.0,3.0,2.0,1.0,4.0,6.0,3,5,2.0,25
2,Angola,NaN,NaN,NaN,5.0,10.0,5,5,7,NaN,...,4.0,5.0,6.0,4.0,3.0,3.0,4,8,8.0,19
3,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,1
5,Cameroun,2,3,5.0,NaN,5.0,8,NaN,NaN,NaN,...,7.0,10.0,7.0,5.0,5.0,9.0,12,12,10.0,18
6,Cap vert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,2,4.0,3
7,Congo,NaN,NaN,4.0,7.0,2.0,3,4,4,7,...,NaN,8.0,9.0,7.0,8.0,7.0,9,NaN,13.0,21
8,RD Congo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,4.0,8.0,10.0,7.0,8.0,7,7,6.0,14
9,Cote divoire,NaN,6,7.0,2.0,7.0,6,6,6,5,...,NaN,12.0,10.0,NaN,NaN,NaN,14,NaN,NaN,17
10,Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
11,Egypte,Disqualifié,Disqualifié,2.0,4.0,4.0,4,2,2,1,...,1.0,2.0,3.0,3.0,1.0,2.0,1,1,1.0,26
12,Gabon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,11.0,9.0,11.0,5.0,8,9,11.0,11
13,Ghana,NaN,NaN,NaN,NaN,NaN,NaN,Forfait,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,Guinee 0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10,6,5.0,4
15,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.0,NaN,15,Forfait,15.0,4
16,Libye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11.0,NaN,12.0,9.0,NaN,13,NaN,12.0,6
17,Madagascar,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
18,Maroc,NaN,NaN,NaN,NaN,8.0,Forfait,8,5,4,...,8.0,6.0,4.0,6.0,6.0,4.0,6,3,7.0,21
19,Namibie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Forfait,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [55]:
# resoudre le pb des donnes qui ont ete converties en float lors de l ouverture du fichier. du coup on cherche a les reconvertir en int. 
# il faut d abord remplacer les valeurs non numeriques comme Nan / disqualifiée / ou '_' et on les remplace par 0

afrique.replace("Forfait",np.nan,inplace=True)
afrique.replace("Disqualifié",np.nan,inplace=True)
afrique.replace("-",np.nan,inplace=True)
afrique.fillna(0,inplace=True)
# print(afrique.to_string())

for i in afrique.columns[1:]:
    afrique[i] = afrique[i].astype(int)
print(afrique.to_string())

            Nation  74  76  79  81  83  85  87  89  91  92  94  96  98  00  02  04  06  08  10  12  14  16  18  20  22  24  P.
0   Afrique du Sud   0   0   0   0   0   0   0   0   0   0   0   0  10   0   0   0   0   0   0   0   0   0   0   0   0   0   1
1          Algerie   0   2   3   1   1   1   1   1   2   3   2   1   2   2   2   4   5   3   3   2   1   4   6   3   5   2  25
2           Angola   0   0   0   5  10   5   5   7   0   0   0   0   8   0   6   3   4   4   5   6   4   3   3   4   8   8  19
3            Benin   0   0   0   0   0   0   0   0   0   0   0   9   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
4     Burkina Faso   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  12   0   0   0   0   0   0   1
5         Cameroun   2   3   5   0   5   8   0   0   0   0   0   7   9   0   5   5   9   7  10   7   5   5   9  12  12  10  18
6         Cap vert   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   5   2   4   3
7            Congo   0   0   4   7   2   3   4   4   7   0   5   6   6   5  11  10   6   0   8   9   7   8   7   9   0  13  21
8         RD Congo   0   0   0   0   0   0   0   0   0   4   0   0   0   7   8   8  11   5   4   8  10   7   8   7   7   6  14
9     Cote divoire   0   6   7   2   7   6   6   6   5   5   6   8   7   0  10   0   7   0  12  10   0   0   0  14   0   0  17
10        Djibouti   0   0   0   0   0   0   0   0   0   8   9   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   2
11          Egypte   0   0   2   4   4   4   2   2   1   1   3   3   3   1   3   1   2   1   2   3   3   1   2   1   1   1  26
12           Gabon   0   0   0   0   0   0   0   0   0   0   0   0   0   6  12   0   8   0   9  11   9  11   5   8   9  11  11
13           Ghana   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
14        Guinee 0   0   0   0   8   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  10   6   5   4
15           Kenya   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   9   0   0   0   0   0  12   0  15   0  15   4
16           Libye   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  11   0   0  11   0  12   9   0  13   0  12   6
17      Madagascar   5   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1
18           Maroc   0   0   0   0   8   0   8   5   4   7   4   4   5   4   4   6   3   8   6   4   6   6   4   6   3   7  21
19         Namibie   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
20         Nigeria   0   0   8   6   9   7   0   0   0   0   0   5   4   0   7   0  10   6   7   0  11  10  10  11  10   9  15
21          Rwanda   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  14   1
22         Senegal   3   4   0   0   6   9   7   0   6   6   7   0   0   0   9   7   0   0   0   5   8   0   0   0  11   0  12
23           Tchad   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
24            Togo   4   5   6   0   0   0   0   0   0   0   8  10   0   0   0   0   0   0   0   0   0   0   0   0   0   0   5
25         Tunisie   1   1   1   3   3   2   3   3   3   2   1   2   1   3   1   2   1   2   1   1   2   2   1   2   4   3  26
26          Zambie   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0  16  13  16   3
27           Total   6   7   9   8  10   9   8   7   7   8   9  10  10   7  12  11  11   8  12  12  12  12  10  16  13  16   0

In [59]:
# Modifier les en-têtes en passant les dates de YY à YYYY

# on selectionne la 1e ligne avec les entetes
years=afrique.columns

# on va modifier pour les valeurs numeriques les anne yy en yyyy. et on distingue 19yy e 20yy
new_years=[]
for year in years:
    if year.isdigit(): 
        if 0 <= int(year) <= 50:
            new_year = '20' + year 
        else:
            new_year = '19' + year
    else:
        new_year=year
    new_years.append(new_year)

print(new_years)
afrique.columns = new_years
afrique.head(20)

['Nation', '1974', '1976', '1979', '1981', '1983', '1985', '1987', '1989', '1991', '1992', '1994', '1996', '1998', '2000', '2002', '2004', '2006', '2008', '2010', '2012', '2014', '2016', '2018', '2020', '2022', '2024', 'P.']

,Nation,1974,1976,1979,1981,1983,1985,1987,1989,1991,...,2008,2010,2012,2014,2016,2018,2020,2022,2024,P.
0,Afrique du Sud,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Algerie,0,2,3,1,1,1,1,1,2,...,3,3,2,1,4,6,3,5,2,25
2,Angola,0,0,0,5,10,5,5,7,0,...,4,5,6,4,3,3,4,8,8,19
3,Benin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Burkina Faso,0,0,0,0,0,0,0,0,0,...,0,0,12,0,0,0,0,0,0,1
5,Cameroun,2,3,5,0,5,8,0,0,0,...,7,10,7,5,5,9,12,12,10,18
6,Cap vert,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,5,2,4,3
7,Congo,0,0,4,7,2,3,4,4,7,...,0,8,9,7,8,7,9,0,13,21
8,RD Congo,0,0,0,0,0,0,0,0,0,...,5,4,8,10,7,8,7,7,6,14
9,Cote divoire,0,6,7,2,7,6,6,6,5,...,0,12,10,0,0,0,14,0,0,17
10,Djibouti,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
11,Egypte,0,0,2,4,4,4,2,2,1,...,1,2,3,3,1,2,1,1,1,26
12,Gabon,0,0,0,0,0,0,0,0,0,...,0,9,11,9,11,5,8,9,11,11
13,Ghana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Guinee 0,0,0,0,8,0,0,0,0,0,...,0,0,0,0,0,0,10,6,5,4
15,Kenya,0,0,0,0,0,0,0,0,0,...,0,0,0,0,12,0,15,0,15,4
16,Libye,0,0,0,0,0,0,0,0,0,...,0,11,0,12,9,0,13,0,12,6
17,Madagascar,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
18,Maroc,0,0,0,0,8,0,8,5,4,...,8,6,4,6,6,4,6,3,7,21
19,Namibie,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
# Intérêt de conserver les données des nations non-qualifiées ? 
# liste des equipes qualifiées pour les jo
#qualif=['France','Danemark', 'Japon', 'Argentine', 'Suède', 'Egypte', 'Croatie', 'Norvège', 'Allemagne', 'Espagne', 'Slovénie', 'Hongrie']
#print(qualif)

# on selectionne que les equipes selectionnees pour les jo
#afrique_selec=afrique[afrique['Nation'].isin(qualif)]
#afrique_selec.head(20)

In [61]:
# sauvegarde dans un autre nouveau fichier csv
afrique.to_csv('bilan_nations_afrique_hommes_clean.csv')

Amerique du sud

In [63]:
amsud = pd.read_csv('bilan_nations_AmSud_hommes.csv')
amsud.head(20)

  Équipe nationale 2020 2022 2024  Part.
0        Argentine   01   02   02      3
1          Bolivie   6e   7e   99      2
2           Brésil   02   01   01      3
3            Chili   4e   03   03      3
4         Colombie   99   88   99      0
5       Costa Rica   99   6e   6e      2
6         Paraguay   5e   5e   4e      3
7            Pérou   88   99   99      0
8          Uruguay   03   4e   5e      3
9            Total    6    7    6      7

In [65]:
# Pour homogeneiser entre toutes les compétitions. Renommer la colonne 'Équipe nationale' en 'Nation'
amsud.rename(columns={"Équipe nationale": "Nation"}, inplace=True)
amsud.head(20)

       Nation 2020 2022 2024  Part.
0   Argentine   01   02   02      3
1     Bolivie   6e   7e   99      2
2      Brésil   02   01   01      3
3       Chili   4e   03   03      3
4    Colombie   99   88   99      0
5  Costa Rica   99   6e   6e      2
6    Paraguay   5e   5e   4e      3
7       Pérou   88   99   99      0
8     Uruguay   03   4e   5e      3
9       Total    6    7    6      7

In [67]:
#remplacement 99 par Nan
amsud.replace('99', np.nan, inplace=True)
amsud.head(30)

       Nation 2020 2022 2024  Part.
0   Argentine   01   02   02      3
1     Bolivie   6e   7e  NaN      2
2      Brésil   02   01   01      3
3       Chili   4e   03   03      3
4    Colombie  NaN   88  NaN      0
5  Costa Rica  NaN   6e   6e      2
6    Paraguay   5e   5e   4e      3
7       Pérou   88  NaN  NaN      0
8     Uruguay   03   4e   5e      3
9       Total    6    7    6      7

In [69]:
#remplacement 4e par 4 , 5e par 5 , 6e, Nan
amsud.replace({'01':1, '02':2,'03':3, '4e': 4, '5e': 5, '6e': 6, '7e':7}, inplace=True)
amsud.head(20)

       Nation 2020 2022 2024  Part.
0   Argentine    1    2    2      3
1     Bolivie    6    7  NaN      2
2      Brésil    2    1    1      3
3       Chili    4    3    3      3
4    Colombie  NaN   88  NaN      0
5  Costa Rica  NaN    6    6      2
6    Paraguay    5    5    4      3
7       Pérou   88  NaN  NaN      0
8     Uruguay    3    4    5      3
9       Total    6    7    6      7

In [71]:
#remplacement 88 par Nan  - est ce qu on doit remplacer 
amsud.replace('88', np.nan, inplace=True)
amsud.head(30)

       Nation 2020 2022 2024  Part.
0   Argentine    1    2    2      3
1     Bolivie    6    7  NaN      2
2      Brésil    2    1    1      3
3       Chili    4    3    3      3
4    Colombie  NaN  NaN  NaN      0
5  Costa Rica  NaN    6    6      2
6    Paraguay    5    5    4      3
7       Pérou  NaN  NaN  NaN      0
8     Uruguay    3    4    5      3
9       Total    6    7    6      7

In [73]:
#modifie tous les nan en 0
amsud.fillna(0,inplace=True)
amsud.head(10)

       Nation 2020 2022 2024  Part.
0   Argentine    1    2    2      3
1     Bolivie    6    7    0      2
2      Brésil    2    1    1      3
3       Chili    4    3    3      3
4    Colombie    0    0    0      0
5  Costa Rica    0    6    6      2
6    Paraguay    5    5    4      3
7       Pérou    0    0    0      0
8     Uruguay    3    4    5      3
9       Total    6    7    6      7

In [75]:
# sauvegarde dans un autre nouveau fichier csv
amsud.to_csv('bilan_nations_AmSud_hommes_clean.csv')

ASIE

In [80]:
asie = pd.read_csv('bilan_nations_asie_hommes.csv')  
asie.head(20)

,Équipe nationale,1977,1979,1983,1987,1989,1991,1993,1995,2000,...,2008,2010,2012,2014,2016,2018,2020,2022,2024,P.
0,Arabie saoudite,8,99,5,99,5,10,4,99,99.0,...,3.0,4.0,3.0,6.0,4.0,4.0,7.0,3.0,9.0,16.0
1,Australie,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,17,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bahrein,6,99,4,5,99,5,6,3,99.0,...,10.0,2.0,6.0,2.0,2.0,2.0,4.0,2.0,3.0,18.0
3,Bangladesh,99,99,99,99,99,99,99,99,99.0,...,99.0,99.0,99.0,99.0,99.0,13.0,99.0,99.0,99.0,1.0
4,Chine,3,2,99,4,4,3,5,5,2.0,...,7.0,9.0,99.0,11.0,9.0,9.0,11.0,99.0,10.0,16.0
5,Coree du nord,99,99,99,99,99,9,99,99,99.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,1.0
6,Coree du sud,2,99,1,1,1,1,1,2,1.0,...,1.0,1.0,1.0,5.0,6.0,3.0,2.0,5.0,5.0,19.0
7,Emirats arabes unis,9,99,99,99,99,6,8,6,99.0,...,8.0,11.0,7.0,4.0,7.0,7.0,5.0,9.0,7.0,14.0
8,Hong Kong,99,99,8,99,9,99,99,99,99.0,...,99.0,99.0,99.0,99.0,99.0,99.0,10.0,11.0,13.0,5.0
9,Inde,99,5,99,99,99,99,99,9,99.0,...,99.0,99.0,99.0,99.0,99.0,12.0,99.0,15.0,16.0,5.0
10,Irak,5,99,99,99,99,99,99,99,99.0,...,99.0,10.0,99.0,10.0,99.0,99.0,9.0,6.0,8.0,6.0
11,Iran,99,99,99,99,8,11,9,99,5.0,...,4.0,7.0,5.0,3.0,5.0,5.0,6.0,4.0,6.0,16.0
12,Japon,1,1,2,2,2,2,3,4,3.0,...,6.0,3.0,4.0,9.0,3.0,6.0,3.0,17.0,2.0,20.0
13,Jordanie,99,99,7,9,99,99,99,99,99.0,...,99.0,12.0,9.0,99.0,99.0,99.0,99.0,12.0,99.0,7.0
14,Kazakhstan,99,99,99,99,99,99,11,8,99.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,14.0,3.0
15,Koweit,4,3,3,3,3,8,2,1,99.0,...,2.0,99.0,8.0,7.0,99.0,99.0,8.0,7.0,4.0,17.0
16,Liban,99,99,99,99,99,99,99,99,99.0,...,9.0,8.0,99.0,99.0,10.0,99.0,99.0,99.0,99.0,3.0
17,Nepal,99,99,99,11,99,99,99,99,99.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,1.0
18,Nouvelle zelande,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,15,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Oman,99,99,99,99,99,99,99,99,99.0,...,99.0,99.0,99.0,8.0,8.0,8.0,99.0,10.0,12.0,6.0

In [82]:
# Pour homogeneiser entre toutes les compétitions. Renommer la colonne 'Équipe nationale' en 'Nation'
asie.rename(columns={"Équipe nationale": "Nation"}, inplace=True)
asie.head(2)

,Nation,1977,1979,1983,1987,1989,1991,1993,1995,2000,...,2008,2010,2012,2014,2016,2018,2020,2022,2024,P.
0,Arabie saoudite,8,99,5,99,5,10,4,99,99.0,...,3.0,4.0,3.0,6.0,4.0,4.0,7.0,3.0,9.0,16.0
1,Australie,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,Non qualifiable,17,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# # resoudre le pb des donnes qui ont ete converties en float lors de l ouverture du fichier. du coup on cherche a les reconvertir en int. 
# il faut d abord remplacer les valeurs non numeriques comme Nan / disqualifiée / ou '_' et on les remplace par 0

# Non qualifiable à modifier en Nan  
asie.replace("Non qualifiable",np.nan,inplace=True)
# disqualifiee à modifier en Nan  
asie.replace("Disqualifié",np.nan,inplace=True)
# Modifier les 99 en Nan
asie.replace('99', np.nan, inplace=True)
#modifie tous les nan en 0
asie.fillna(0,inplace=True)

# convertir les valeurs numeriques en int 
for i in asie.columns[1:]:
    asie[i] = asie[i].astype(int)
print(asie.to_string())

                 Nation  1977  1979  1983  1987  1989  1991  1993  1995  2000  2002  2004  2006  2008  2010  2012  2014  2016  2018  2020  2022  2024  P.
0       Arabie saoudite     8     0     5     0     5    10     4    99    99     3     5    99     3     4     3     6     4     4     7     3     9  16
1             Australie     0     0     0     0     0     0    17     3     0     0     0     0     0     0     0     0     0     0     0     0     0   0
2               Bahrein     6     0     4     5     0     5     6     3    99     7     4     6    10     2     6     2     2     2     4     2     3  18
3            Bangladesh     0     0     0     0     0     0    99    99    99    99    99    99    99    99    99    99    99    13    99    99    99   1
4                 Chine     3     2     0     4     4     3     5     5     2    99    99     8     7     9    99    11     9     9    11    99    10  16
5         Coree du nord     0     0     0     0     0     9    99    99    99    99    99    99    99    99    99    99    99    99    99    99    99   1
6          Coree du sud     2     0     1     1     1     1     1     2     1     4    99     2     1     1     1     5     6     3     2     5     5  19
7   Emirats arabes unis     9     0     0     0     0     6     8     6    99    99     6    99     8    11     7     4     7     7     5     9     7  14
8             Hong Kong     0     0     8     0     9     0    99    99    99    99    99    99    99    99    99    99    99    99    10    11    13   5
9                  Inde     0     5     0     0     0     0    99     9    99    99    99    99    99    99    99    99    99    12    99    15    16   5
10                 Irak     5     0     0     0     0     0    99    99    99    99    99    99    99    10    99    10    99    99     9     6     8   6
11                 Iran     0     0     0     0     8    11     9    99     5     5     7     4     4     7     5     3     5     5     6     4     6  16
12                Japon     1     1     2     2     2     2     3     4     3     6     2     5     6     3     4     9     3     6     3    17     2  20
13             Jordanie     0     0     7     9     0     0    99    99    99    99     8     7    99    12     9    99    99    99    99    12    99   7
14           Kazakhstan     0     0     0     0     0     0    11     8    99    99    99    99    99    99    99    99    99    99    99    99    14   3
15               Koweit     4     3     3     3     3     8     2     1    99     1     1     1     2    99     8     7    99    99     8     7     4  17
16                Liban     0     0     0     0     0     0    99    99    99    99    99    99     9     8    99    99    10    99    99    99    99   3
17                Nepal     0     0     0    11     0     0    99    99    99    99    99    99    99    99    99    99    99    99    99    99    99   1
18     Nouvelle zelande     0     0     0     0     0     0    15     3     0     0     0     0     0     0     0     0     0     0     0     0     0   0
19                 Oman     0     0     0     0     0     0    99    99    99    99     9    99    99    99    99     8     8     8    99    10    12   6
20          Ouzbekistan     0     0     0     0     0     0    99    99    99    99    99    99    99    99    10    12    99    10    99     8    99   4
21            Palestine     7     4     0    10     0     0    99    99    99    99    99    99    99    99    99    99    99    99    99    99    99   3
22                Qatar     0     0     6     6     6     4     7    99    99     2     3     3     5     5     2     1     1     1     1     1     1  17
23            Singapour     0     0     0     0     0     0    99    99    99    99    99    99    99    99    99    99    99    99    99    14    99   1
24                Syrie     0     0     0     8     0    12    12    99    99    99    99    99    99     6    99    99    11    99    99    99    99   5
25        Taipei, Chine     0     0     0     7     7     7    10     7     4    99    99    99    99    99    99    99    99    99    99    99    11   7
26            Thailande     0     0     0     0     0     0    99    99    99    99    99     9    99    99    99    99    99    99    99    99    99   1
27             Viet nam     0     0     0     0     0     0    99    99    99    99    99    99    99    99    99    99    99    99    99    13    99   1
28                Total     9     5     8    11     9    12    12     9     5     7     9     9    10    12    10    12    11    14    13    16    16   0

In [87]:
#Intérêt de conserver les données des nations non-qualifiées ?

# liste des equipes qualifiées pour les jo
#qualif=['France','Danemark', 'Japon', 'Argentine', 'Suède', 'Egypte', 'Croatie', 'Norvège', 'Allemagne', 'Espagne', 'Slovénie', 'Hongrie']
#print(qualif)

# on selectionne que les equipes selectionnees pour les jo
#asi_selec=asie[asie['Équipe nationale'].isin(qualif)]
#asi_selec.head(20)

In [89]:
# sauvegarde dans un autre nouveau fichier csv
asie.to_csv('bilan_nations_asie_hommes_clean.csv')

EUROPE

In [93]:
#Euro 
euro=pd.read_csv('bilan_nations_euro_hommes.csv')
euro.head(20)

,Nation,Part.,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024
0,Suède,15,NaN,4,NaN,NaN,NaN,7,-,5,15,12,7,8,NaN,7,NaN,NaN
1,France,16,6,7,7,4,6,6,NaN,NaN,NaN,11,NaN,5,NaN,14,4,NaN
2,Espagne,16,5,NaN,NaN,NaN,8,10,NaN,9,6,4,NaN,NaN,NaN,NaN,NaN,13
3,Danemark,15,4,12,-,10,NaN,NaN,NaN,NaN,5,NaN,NaN,6,4,13,NaN,NaN
4,Allemagne,15,9,8,NaN,9,NaN,NaN,5,4,10,7,-,NaN,9,5,7,4
5,Russie,14,NaN,NaN,4,NaN,5,5,6,13,12,15,9,9,-,22,9,-
6,Croatie,16,NaN,5,8,6,16,4,4,NaN,NaN,NaN,4,NaN,5,NaN,8,11
7,Serbie (/),13,-,NaN,5,-,10,8,9,-,13,NaN,13,15,12,20,14,19
8,Slovénie,14,10,11,-,5,12,NaN,8,10,11,6,-,14,8,4,16,6
9,Norvège,11,-,-,-,8,-,-,11,6,7,13,14,4,7,NaN,5,9
10,Islande,13,-,-,-,11,4,13,7,11,NaN,10,5,13,13,11,6,10
11,Pologne,11,-,-,-,-,15,16,10,7,4,9,6,7,-,21,12,16
12,Hongrie,14,7,10,6,-,-,9,13,8,14,8,8,12,14,9,15,5
13,Macédoine du Nord,8,-,-,12,-,-,-,-,-,-,5,10,11,11,15,22,17
14,Tchéquie,12,-,6,10,-,7,11,-,14,8,14,15,-,6,12,13,15
15,Portugal,7,12,-,-,7,9,-,15,-,-,-,-,-,-,6,19,7
16,Autriche,6,-,-,-,-,-,-,-,-,9,-,11,-,15,8,20,8
17,Biélorussie,7,8,-,-,-,-,-,-,15,-,-,12,10,10,10,17,-
18,Roumanie,3,11,9,-,-,-,-,-,-,-,-,-,-,-,-,-,22
19,Lituanie,2,-,-,9,-,-,-,-,-,-,-,-,-,-,-,21,-

In [95]:
# Compléter les vides / forfaits / disqualifiés par des Nan?

# - à remplacer par des Nan 
euro.replace('-', np.nan, inplace=True)

euro.head(20)

,Nation,Part.,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024
0,Suède,15,NaN,4,NaN,NaN,NaN,7,NaN,5,15,12,7,8,NaN,7,NaN,NaN
1,France,16,6,7,7,4,6,6,NaN,NaN,NaN,11,NaN,5,NaN,14,4,NaN
2,Espagne,16,5,NaN,NaN,NaN,8,10,NaN,9,6,4,NaN,NaN,NaN,NaN,NaN,13
3,Danemark,15,4,12,NaN,10,NaN,NaN,NaN,NaN,5,NaN,NaN,6,4,13,NaN,NaN
4,Allemagne,15,9,8,NaN,9,NaN,NaN,5,4,10,7,NaN,NaN,9,5,7,4
5,Russie,14,NaN,NaN,4,NaN,5,5,6,13,12,15,9,9,NaN,22,9,NaN
6,Croatie,16,NaN,5,8,6,16,4,4,NaN,NaN,NaN,4,NaN,5,NaN,8,11
7,Serbie (/),13,NaN,NaN,5,NaN,10,8,9,NaN,13,NaN,13,15,12,20,14,19
8,Slovénie,14,10,11,NaN,5,12,NaN,8,10,11,6,NaN,14,8,4,16,6
9,Norvège,11,NaN,NaN,NaN,8,NaN,NaN,11,6,7,13,14,4,7,NaN,5,9
10,Islande,13,NaN,NaN,NaN,11,4,13,7,11,NaN,10,5,13,13,11,6,10
11,Pologne,11,NaN,NaN,NaN,NaN,15,16,10,7,4,9,6,7,NaN,21,12,16
12,Hongrie,14,7,10,6,NaN,NaN,9,13,8,14,8,8,12,14,9,15,5
13,Macédoine du Nord,8,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,5,10,11,11,15,22,17
14,Tchéquie,12,NaN,6,10,NaN,7,11,NaN,14,8,14,15,NaN,6,12,13,15
15,Portugal,7,12,NaN,NaN,7,9,NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,6,19,7
16,Autriche,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,11,NaN,15,8,20,8
17,Biélorussie,7,8,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,NaN,12,10,10,10,17,NaN
18,Roumanie,3,11,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
19,Lituanie,2,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,NaN

In [97]:
#modifie tous les nan en 0
euro.fillna(0,inplace=True)
euro.head(20)

,Nation,Part.,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024
0,Suède,15,0,4,0,0,0,7,0,5,15,12,7,8,0,7,0,0
1,France,16,6,7,7,4,6,6,0,0,0,11,0,5,0,14,4,0
2,Espagne,16,5,0,0,0,8,10,0,9,6,4,0,0,0,0,0,13
3,Danemark,15,4,12,0,10,0,0,0,0,5,0,0,6,4,13,0,0
4,Allemagne,15,9,8,0,9,0,0,5,4,10,7,0,0,9,5,7,4
5,Russie,14,0,0,4,0,5,5,6,13,12,15,9,9,0,22,9,0
6,Croatie,16,0,5,8,6,16,4,4,0,0,0,4,0,5,0,8,11
7,Serbie (/),13,0,0,5,0,10,8,9,0,13,0,13,15,12,20,14,19
8,Slovénie,14,10,11,0,5,12,0,8,10,11,6,0,14,8,4,16,6
9,Norvège,11,0,0,0,8,0,0,11,6,7,13,14,4,7,0,5,9
10,Islande,13,0,0,0,11,4,13,7,11,0,10,5,13,13,11,6,10
11,Pologne,11,0,0,0,0,15,16,10,7,4,9,6,7,0,21,12,16
12,Hongrie,14,7,10,6,0,0,9,13,8,14,8,8,12,14,9,15,5
13,Macédoine du Nord,8,0,0,12,0,0,0,0,0,0,5,10,11,11,15,22,17
14,Tchéquie,12,0,6,10,0,7,11,0,14,8,14,15,0,6,12,13,15
15,Portugal,7,12,0,0,7,9,0,15,0,0,0,0,0,0,6,19,7
16,Autriche,6,0,0,0,0,0,0,0,0,9,0,11,0,15,8,20,8
17,Biélorussie,7,8,0,0,0,0,0,0,15,0,0,12,10,10,10,17,0
18,Roumanie,3,11,9,0,0,0,0,0,0,0,0,0,0,0,0,0,22
19,Lituanie,2,0,0,9,0,0,0,0,0,0,0,0,0,0,0,21,0

In [99]:
# sauvegarde dans un autre nouveau fichier csv
euro.to_csv('bilan_nations_euro_hommes_clean.csv')